.buttons-social {
    font-weight: bold;
    width: 100%;
    em {
        font-size: 20px;
        margin-right: 4%;
    }
    .google {
        background-color: red;
        color: black;
        width: 100%;
        margin-bottom: 2%;
    }
    .facebook {
        background-color: #4267b2;
        color: white;
        width: 100%;
        margin-bottom: 2%;
    }
    
    .twitter {
        background-color: #1da0f2;
        color: white;
        width: 100%;
        margin-bottom: 2%;
    }
}
