@import "Variable";
@import "Spacing";
@import "Main";

.navbar {
  background-color: $second-color;

  .navbar-brand {
    @extend .container-left;
  }

  .navbar-menu {
    @extend .container-right;
  }
  .is-active {
    background-color: $third-color !important;
    color: $second-color !important;
  }

  .navbar-item {
    color: $third-color;
    :not(.is-arrowless) {
      &:after {
        border-color: $fouth-color;
      }
    }

    &:hover,
    &:focus-within,
    &:focus {
      color: $second-color;

      .navbar-link {
        color: $second-color;
      }
    }

    .navbar-link {
      color: $third-color;
    }

    .current-flag-item {
      width: 35%;
      margin-right: 2%;
    }

    .current-flag-link {
      min-width: 105%;

      &::after {
        right: 0.125em;
      }
    }

    .navbar-dropdown {
      background-color: $second-color;

      &:hover {
        background-color: $second-color;
      }
    }

    .flags {
      background-color: $second-color;

      &:hover {
        background-color: $second-color;
      }
    }

    .flag {
      max-width: 30%;
      margin-right: 10%;
    }

    img {
      max-height: none;
      max-width: none;
    }
  }
}
