<form @submit.prevent="submit">
  <div class="modal-card" style="width: auto">
    <header class="modal-card-head">
      <p class="modal-card-title">{{ $t('menu.sign-up') }}</p>
      <button class="delete" aria-label="close" @click="$parent.close()"></button>
    </header>
    <section class="modal-card-body">
      <div>
        <h5 class="title is-5 has-text-centered">{{$t('signup.social')}}</h5>
        <SocialConnect></SocialConnect>
      </div>
      <Divider text="OR"></Divider>
      <h5 class="title is-5 has-text-centered">{{$t('signup.form')}}</h5>
      <div class="columns">
        <div class="column">
          <Input
            :model.sync="user.pseudo"
            icon="fas fa-user"
            :label="$t('signup.pseudo')"
            :placeholder="$t('signup.pseudo')"
            :isValid="$v.user.pseudo.$invalid"
            :errorMessage="$t('signup.pseudo-rule')"
          ></Input>
          <Input
            :model.sync="user.email"
            icon="fas fa-envelope"
            :label="$t('signup.email')"
            :placeholder="$t('signup.email')"
            :isValid="$v.user.email.$invalid"
            :errorMessage="$t('signup.email-rule')"
          ></Input>
        </div>
        <div class="column">
          <Input
            :model.sync="user.password"
            icon="fas fa-lock"
            :label="$t('signup.password')"
            :placeholder="$t('signup.password')"
            :isValid="$v.user.password.$invalid"
            :errorMessage="$t('signup.password-rule')"
            type="password"
          ></Input>
          <Input
            :model.sync="user.verifyPassword"
            icon="fas fa-lock"
            :label="$t('signup.verify-password')"
            :placeholder="$t('signup.verify-password')"
            :isValid="$v.user.verifyPassword.$invalid"
            :errorMessage="$t('signup.verify-password-rule')"
            type="password"
          ></Input>
        </div>
      </div>
    </section>
    <footer class="modal-card-foot">
      <button class="button" type="button" @click="$parent.close()">{{$t('button.close')}}</button>
      <button class="button is-primary" type="submit" :disabled="$v.$invalid">{{$t('signup.register')}}</button>
    </footer>
  </div>
</form>
