@import "Variable";

.field {
    small {
        font-size: 0.750em;
        color:red
    }
    .icon-warning {
        margin-right: 1%;
        color:red;
    }
    input {
        &:focus {
            border-color: #3273dc;            
            -webkit-box-shadow: 0 0 0 .125em rgba(50,115,220,.25);;
            box-shadow: 0 0 0 .125em rgba(50,115,220,.25);
        }
    }
    .invalid {
        border-color: red;
    }
}