@import "scss/variable";
@import "Spacing";
html {
  background-color: $third-color;

  body {
    background-color: $third-color;
  }
}

#app {
  .container {
    @extend .container-left;
    @extend .container-right;
    min-height: 75vh;
    background-color: #fff;

    .searchbox {
      margin-left: 4%;
      margin-right: 4%;
    }
  }

  background-color: $third-color;
}

.button.is-primary {
  background-color: $main-color;

  &:hover {
    background-color: $main-color-hover;
  }
}
