@import 'variable';

html {
  background-color: $third-color;
  body{
    background-color: $third-color;
  }
}
.is-primary {
  background-color: $main-color;
  &:hover {
  background-color: $main-color-hover;
  }
}
