@import "variable";
@import "./modal.scss";
@import "./input.scss";
@font-face {
  font-family: "sittella";
  src: url("~Assets/fonts/Neon.ttf")
}
html {
  background-color: $third-color;

  body {
    background-color: $third-color;
  }
}

.button.is-primary {
  background-color: $main-color;

  &:hover {
    background-color: $main-color-hover;
  }
  &:disabled {
    background-color: $main-color-hover;
  }
}

.title-food {
  font-family: sittella;
    margin-left: 5%;
  color:
  #345863;
  font-weight: initial;
}
