@import 'variable';
@import './modal.scss';
@import './input.scss';

html {
  background-color: $third-color;

  body {
    background-color: $third-color;
  }
}

.button.is-primary {
  background-color: $main-color;

  &:hover {
    background-color: $main-color-hover;
  }
}
