@import 'variable';

.modal-card {
    .modal-card-head {
        background-color: $second-color;
        p {
            color: white;
        }
    }
    .modal-card-foot {
        background-color: $third-color;
    }
}