$main-color: #d82b2b;
$main-color-hover: #c90808;
$second-color: #345863;
$second-color-hover: #1e4751;
$third-color: whitesmoke;
$fouth-color: #ff9c43;
$fouth-color-shadow: 0 0 0 0.06em rgba(255, 156, 67, 1);